@npm-bbta:registry=https://bbogdigital.jfrog.io/bbogdigital/api/npm/npm-bbta/
_auth = amFyaWExNUBiYW5jb2RlYm9nb3RhLmNvbS5jbzpBS0NwOGpRY29IcTJDTldmYnE3Y0VCRzhWWTFLaTR6Rlc1enVld3lUaFQ3V1dnVlBoZlBpMk5UTjdRdVRjOHdEb0Q4WlpOY1Zk
always-auth = true
