.button {
  width: 296px;
  height: 48px;
}

.card {
  margin: 16px;
  border-radius: 8px;
  border: 1px solid var(--sp-carbon-200);
  background-color: white;
  padding: 24px 16px;

  &__title {
    margin-bottom: 24px;
  }
}
