.box {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sub-box {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.sub-box > * {
  flex: 1 1 auto;
  overflow: auto;
}

p {
  color: #5c5c5c;
}
