.card {
  margin: 16px;
  border-radius: 8px;
  border: 1px solid var(--sp-carbon-200);
  background-color: white;
  padding: 24px 16px;

  &__title {
    margin-bottom: 24px;
  }
}

.form-group {
  display: block;
  margin: 16px 0;
}