<div class="card">
  <div class="card__title">
    <h4 class="sp-text-heading-4">Abre tu CDT</h4>
    <p class="sp-text-paragraph-m">
      Haz crecer tu dinero. Abre tu CDT hoy con tasas competitivas y sin
      riesgos. Elige tu plazo y empieza a ganar.
    </p>
    <h6 class="sp-text-heading-7">Simula tu CDT aquí</h6>
  </div>

  <sp-ml-slider
    editable
    step="1"
    max="20000000"
    min="100000"
    value="000000000"
    status="ENABLED"
    message="Mensaje de error"
  ></sp-ml-slider>
  <div class="form-group">
    <sp-at-input  label="¿Durante cuánto tiempo? (en meses)" message="Desde 3 meses hasta 33 meses" placeholder="Ej. 6 meses" type="TEXT" status="HELP" required="true" view-mode></sp-at-input>
  </div>

  <button class='sp-at-btn sp-at-btn--primary sp-at-btn--lg '>
    ¡Crear mi CDT ya!
  </button>
</div>
