/* You can add global styles to this file, and also import other style files */
$font-family-path: "~@npm-bbta/bbog-dig-dt-webcomponents-lib/dist/collection";
@import "~@npm-bbta/bbog-dig-dt-webcomponents-lib/dist/collection/assets/fonts/fonts.scss";
$icons-path: "~@npm-bbta/bbog-dig-dt-webcomponents-lib/dist/collection"; 
@import "~@npm-bbta/bbog-dig-dt-webcomponents-lib/dist/collection/assets/fonts/icons.scss";

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0
}