<div class="centered">
<div class="color-container">
<div class="form">

  <h1 class="sherpa-typography-heading-6">Título</h1>
  <p class="sherpa-typography-paragraph-S">Descripción</p>
  <button class='bdb-at-btn  bdb-at-btn--secondary bdb-at-btn--sm ' >Usar mi ubicación actual</button>

  <bdb-at-input
  label="Ciudad"
  placeholder="Ingresa una ciudad"
  type="TEXT"
  status="ENABLED">
  </bdb-at-input>

  <app-form-direccion></app-form-direccion>

  <app-info-adicional-form></app-info-adicional-form>

  <bdb-at-input
  label="Barrio"
  placeholder="-"
  type="TEXT"
  status="ENABLED">
  </bdb-at-input>

</div>
</div>
</div>

