.form {
  display: flex;
  flex-direction: column;
  width: 600px;
  gap: 24px;
  justify-content: center;
}

h1 {
  margin-bottom: -24px;
}

.centered {
  display: flex;
  justify-content: center;
}

button {
  width: 40%;
}

.color-container {
  background-color: #F6FAFF;
  width: 800px;
  height: 100vh;
  display: flex;
  justify-content: center;

}
